body {
  background-color: #f7f7f7;
}

.wrapper {
  max-width: 1010px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}

.ant-tabs {
  display: block;
  width: 100%;
}

.ant-tabs-nav {
  width: 109px;
  margin: 0 auto 32px auto !important;
}
