body {
  background-color: #f7f7f7;
}

.wrapper {
  width: 1010px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.ant-tabs {
  display: block;
  width: 100%;
}

.ant-tabs-nav {
  width: 109px;
  margin: 0 auto 32px auto !important;
}

@media (max-width: 420px) {
  .wrapper {
    width: 95%;
  }
}
