.movieCard {
  max-width: 463px;
  height: 280px;
}

.ant-card-body {
  height: 100%;
}

.imgPoster {
  display: block;
  position: absolute;
  width: 100%;
  height: 280px;
}

.movieTitle {
  font-size: 20px;
  margin: 0;
}

.ant-tag {
  color: #000000a6;
}

.voteAverage {
  border: 2px solid #e9d100;
  border-radius: 50%;
  font-size: 12px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.movie_overview {
  font-size: 12px;
}

.rate {
  display: flex;
  flex-wrap: nowrap;
}

.rate li {
  font-size: 1rem;
}

.moviesDate {
  color: #827e7e;
  font-size: 12px;
  line-height: 22px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.movie-inform {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}

@media (max-width: 575px) {
  .movieCard {
    height: 230px;
    flex-shrink: 1;
  }
  .imgPoster {
    padding: 10px;
    width: 80px;
    height: 130px;
    object-fit: contain;
  }

  .movie-inform {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
  }
  .movieTitle {
    font-size: 3.8vw !important;
  }

  .description {
    height: 95px;
  }
  .rate {
    align-self: flex-end;
  }
}
